Remote/**/Debug
Remote/**/Release
Visualizer/**/Debug
Visualizer/**/Release
**/.vs
**/*.opendb
**/*.aps
**/*.suo
**/*.db
vis_milk2/bin
/MDropDX12.slnLaunch.user
/Visualizer/vis_milk2/log
/Install/_Archiv
/Build/roadmap.md
*.exe
/Install/*.zip
/.gitattributes
/.idea/.idea.MDropDX12/.idea
/Remote/.idea/.idea.Remote.dir/.idea
/Install/sign.cmd
/Build/notes.md
/Release/*
!/Release/Developer*.*
/MDropDX12RemoteTests/bin
/MDropDX12RemoteTests/obj
/RemoteTests/bin
/RemoteTests/obj
/packages
enc_temp_folder/
